.botao-checkout{
    border: none;
    background: none;
}

.botao-checkout{
    cursor: pointer;
}

.icon-checkout{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

