.valores-historico-cliente{
    width: 96%;
    height: 48px;
    background-color: #F6F6F6;
    box-shadow: 1px 1px 8px black;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-left: 10px;
}