.div-buttons-cadastro {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.view-cadastro-container {
    display: flex;
    height: 100vh;
}

.div-button-cadastro button {
    border-radius: 8px;
    background-color: #FF8000;
    border-style: none;
    color: #FFFFFF;
    padding: 18px;
    font-size: larger;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.div-buttons-cadastro button {
    border-radius: 8px;
    background-color: #FF8000;
    border-style: none;
    color: #FFFFFF;
    padding: 18px;
    font-size: larger;
    font-weight: 600;
}

.div-buttons-cadastro button:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.select-field {
    width: 75%;
    height: 4vh;
    background-color: transparent;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 0 32px 0;
    border-bottom: 2px solid #FF8000;
    cursor: pointer;
}

.button-add {
    padding: 1.5%;
    border-radius: 6px;
    border: none;
    background-color: #FF8000;
    color: #FFFFFF;
}

.floors-datas {
    width: 72%;
    height: 20vh;
    padding: 1.5%;
    margin: 10px 0;
    background-color: #d8d8d8;
    border-radius: 8px;
    overflow: auto;
}

.header-floors {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.floors-datas::-webkit-scrollbar {
    width: 4px;
}

.floors-datas::-webkit-scrollbar-thumb {
    background-color: #FF8000;
    border-radius: 5px;
}

.floors-datas::-webkit-scrollbar-track {
    background-color: #eee;
}

.div-lavel-data-floor {
    border: #FF8000 solid 2px;
    border-radius: 10px;
    margin-top: 16px;
    background-color: #FFFFFF;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

/* Steps ------------------- */

.active {
    background-color: #FF8000;
}

.steps {
    display: flex;
    /* gap: 6rem; */
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 4px 0 0 0;
}

.step {
    padding: 1.5%;
    width: 0.5vw;
    height: 0.9vh;
    border-radius: 50%;
    border: 2px solid #000000;
}

.line {
    height: 2px;
    width: 24%;
    margin: 0 6px 0 6px;
    background-color: #000000;
}

.steps-names {
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    /* padding: 12px; */
    /* margin: 16px 0 0 0; */
}

.step-name {
    display: none;
}

.active-name {
    display: block;
}

/* ------------------ */

.p_teste {
    display: none;
}