*{
    margin: 0;
    padding: 0;
}

.divArrowBack{
    margin-top: 2%;
    width: 100%;
}

.arrowBack{
    width: 6%;
    cursor: pointer;
}

.arrowBack:hover{
    transform: scale(1.3);
}

.divLogo{
    display: flex;
    justify-content: center;
}

.cadastro{
    height: 100vh;
    width: 100%;
    display: flex; 
    background-color: #f8f8f8;
}

.sideImageCadastro{
    width: 60%;
    padding: 1vh;
}

/* formulario */
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.formulario form{
    width: 32vw;
    background-color: #f8f8f8;
}

.logo{
    width: 20%;
}

.cadastroBarProgress{
    /* height: 16vh; */
    width: 100%;
}

.componentesCadastro{
    height: 100%;
    width: 100%;
}