.divArrowBack{
  margin-top: 2%;
  width: 100%;
}

.arrowBack{
  width: 6%;
  cursor: pointer;
}

.arrowBack:hover{
  transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
}

.divLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-logo-login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cadastro {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #f8f8f8;
}

.sideImageCadastro {
  width: 60%;
  padding: 1vh;
}

/* formulario */
.formulario {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 64px;
}

.logo {
  width: 20%;
}

.button-cadastra {
  background-color: black;
  color: white;
  border: none;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px;
  text-decoration: none;
}

.button-cadastra:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #ff8000;
  transition: 0.5s;
}

.btn-entrar-login {
  background-color: #ff8000;
  color: white;
  border: none;
  width: 30%;
  font-weight: bolder;
  border-radius: 8px;
  padding: 25px;
  font-size: larger;
}

.btn-entrar-login:hover {
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
}

.componentesLogin {
  height: 100%;
  width: 100%;
}

.footer-login {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  align-items: center;
}

.view-login {
  display: flex;
  height: 100vh;
}

.fundoloader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  padding: 20vh 0;
  width: 5vw;
}