.div-title-alteracao-senha{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.title-alteracao-senha{
    font-size: 24px;
}

.form-dados-alteracao-senha{
    display: flex;
    justify-content: center;
    height: 80%;
}

.div-label-alteracao-senha{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.label-alteracao-senha{
    font-size: 16px;
    margin-bottom: 20px;
}

.div-inputs-alteracao-senha{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-alteracao-senha{
    border: 2px solid #FF8000;
    height: 24px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;
}

.div-pai-alteracao-senha{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.div-botao-alteracao-senha{
    display: flex;
    justify-content: center;
}

.button-alteracao-senha{
    height: 48px;
    width: 96px;
    border: 2px solid #FF8000;
    color: #FF8000;
    border-radius: 8px;
    background-color: #F6F6F6;
}

.button-alteracao-senha:hover{
    color: #F6F6F6;
    background-color: #FF8000;
    cursor: pointer;
    transition: 0.3s;
}   