.div-title-dados-cliente{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.title-dados-cliente{
    font-size: 24px;
}

.form-dados-cliente-checkin{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 110%;
}

.div-label-checkin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.label-checkin{
    font-size: 20px;
    margin-bottom: 14px;
}

.div-inputs-checkin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.input-checkin{
    border: 2px solid #FF8000;
    height: 24px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;
    padding-left: 10px;
}

.div-pai-checkin-cliente{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.div-botao-cadastro-cliente-checkin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cadastrar-checkin{
    height: 48px;
    width: 96px;
    border: 2px solid #F6F6F6;
    color: #F6F6F6;
    border-radius: 8px;
    background-color: #FF8000;
}

.button-cadastrar-checkin:hover{
    color: #FF8000;
    background-color: #F6F6F6;
    cursor: pointer;
    transition: 0.3s;
}   

.button-salvar-checkin{
    height: 48px;
    width: 96px;
    border: 2px solid #F6F6F6;
    color: #F6F6F6;
    border-radius: 8px;
    background-color: #FF8000;
    margin-left: 8px;
}

.button-salvar-checkin:hover{
    color: #FF8000;
    background-color: #F6F6F6;
    cursor: pointer;
    transition: 0.3s;
}  

.p-cadastro-novo-cliente:hover{
    cursor: pointer;
    color: #FF8000;
    transition: 0.3s;
}