.aboutUs {
    height: 60vh;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutUs .icones{
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aboutUs h1{
    font-size: 50px;
}

.aboutUs p{
    font-size: 32px;
    width: 80%;
    text-align: center;
}

.icon{
    width: 125px;
    height: 125px;
    background-color: #000;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon img{
    height: 70%;
}