.btnEnviar{
    background-color: #ff8000;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    padding: 25px;
    cursor: pointer;
    margin: 32px 0;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnEnviar:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}

.btnEnviar:hover:before {
    width: 100%;
}

.btnEnviar:active {
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .btnEnviar {
        border-radius: 8px;
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
    }  
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .btnEnviar {
        border-radius: 8px;
        padding: 20px;
    }  
}