.valores-cliente-checkout{
    width: 98%;
    height: 48px;
    background-color: #F6F6F6;
    box-shadow: 1px 1px 8px black;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5%;
}
