.div-valores-alterados-com-sucesso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.texto-valores-alterados-com-sucesso{
    font-size: 24px;
    margin-left: 16px;
}