.btnEnviar{
    width: fit-content;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnEnviar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF8000;
    z-index: -2;
}
.btnEnviar:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: all 0.3s;
    z-index: -1;
}

.btnEnviar:hover:before {
    width: 100%;
}

.btnEnviar:active {
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .btnEnviar {
        border-radius: 8px;
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
    }  
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .btnEnviar {
        border-radius: 8px;
        padding: 20px;
    }  
}