body{
    background-color: #F6F6F6;
}

.container-dashboard-pai{
    display: flex;
    flex-direction: column;
}

.container-dashboard-filho{
    display: flex;
    justify-content: center;
}

.titulo-dashboard{
    display: flex;
    justify-content: center;
}

.title-dash{
    font-size: 56px;
    color: #FF8000;
}

.container-dashboard{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-nome-estacionamento{
    display: flex;
    justify-content: start;
    margin: 30px;
}

.title-nome-estacionamento{
    width: 50%;
    display: flex;
    justify-content: start;
    font-size: 36px;
}

.container-painel-pai{
    display: flex;
    justify-content: center;
    height: 18vh;
}

.painel-pequeno{
    width: 45%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 100%;
    box-shadow: 4px 4px 16px  rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.container-painel-pequeno{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container-painel-filho{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.titulo-card-painel{
    display: flex;
}

.valor-painel{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 16px;
}

.title-card{
    display: flex;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    font-weight: normal;
}

.valor-monetario-dashboard{
    font-size: 32px;
    color: #15B555;
}

.valor-dashboard{
    font-size: 32px;
    color: #FF8000;
}

.container-painel-grande{
    display: flex;
    justify-content: center;
    width: 90%;
}

.painel-grande{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 100%;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}


.container-painel-grande-pai{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 34vh;
}

