* {
    margin: 0;
    padding: 0;
}

.view-cadastro{
    height: 100vh;
}

.div-arrow-back{
    padding: 16px 0 0 16px;
}   

.div-logo{
    display: flex;
    justify-content: center;
}

.progress-bar{
    height: 8px;
    background-color: #FF8000;
    margin: 8px 0 8px 0;
}

.campo-cadastro{
    width: 100%;
}

.campo-cadastro form{
    padding: 0 32px 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-cadastro label {
    width: 100%;
    margin-left: 25%;
    font-size: larger;
}

.image-cadastro{
    width: 65%;
}   

.sideImageCadastro{
    width: 98.2%;
    height: 97.5%;
    padding: 1vh;
}

.campo-texto {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0,0.08);
    width: 75%;
    font-size: 16px;
    padding: 16px;
    margin: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #FF8000;
    outline-style: none;
}

#name-field{
    display: block;
}