.div-alteracao-senha-concluido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.texto-alteracao-senha-concluido{
    font-size: 24px;
    margin-left: 16px;
    text-align: center;
}