.botao-checkout{
    border: none;
    background: none;
    cursor: pointer;
}

.icon-checkout{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aparecer {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

