.botao-checkout{
    border: none;
    background: none;
}

.botao-checkout{
    cursor: pointer;
}

.icon-checkout{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NovoCeckout{
    width: 35%;
}

.aparecer {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
  }

