.botao-checkout {
    border: none;
    background: none;
}

.botao-checkout {
    cursor: pointer;
}

.icon-checkout {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NovoCeckout{
    width: 35%;
}

.aparecer {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
  }

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.imgIconCheckout {
    animation: blink 1s infinite;
    background-color: rgba(96, 87, 87, 0.444);
    border-radius: 40px;
    padding: 3px;
    /* Altere a duração conforme necessário */
}