.imagem-css-mobile {
  width: 160px;
  margin-bottom: 16px;
}

.header-mobile {
  display: flex;
  justify-content: center;
}

.container-main-mobile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-contents {
  padding: 80px;
}

.body-mobile {
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.body-mobile h3 {
  width: 70vw;
  text-align: center;
}

.input-checkout-mobile {
  width: 320px;
  height: 24px;
  border: 2px solid #ff8000;
  border-radius: 8px;
  padding: 1%;
  font-size: 20px;
  text-align: center;
}

.button-checkout-mobile {
  border: none;
  background-color: #ff8000;
  color: #f6f6f6;
  width: 132px;
  height: 48px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 8px;
}

.button-checkout-cliente-mobile:focus {
  background-color: black;
  border: black;
}
