*{
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 99.6%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
  
body::-webkit-scrollbar-track {
    background: black;
    padding: 2px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FF8000;
}

/* HEADER */

header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/public/imgs/fundobanner.jpeg);
    background-position: center;
    background-size: cover;

}

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 100%;
}

nav a {
    color: #FFF;
    text-decoration: none;
    list-style: none;
}

nav li {
    text-decoration: none;
    list-style: none;
    color: #FFF;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 3px solid #FF8000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

nav li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FF8000;
    transition: all 0.3s;
    z-index: -1;
}

nav li:hover {
    color: #FF8000;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: #FFF;
}

nav li:hover:before {
    width: 100%;
}

.textoHeader {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

header p {
    width: 80%;
    color: #FFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.023);
    padding: 5px;
}

.espacoBotaoHeader {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* BOTAO SUPORTE */

.suportButton{
    background-color: #FF8000;
    width: 90px;
    height: 90px;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50% 0 0 50%;
    box-shadow: 2px 2px 10px #5c5c5c;
    z-index: 1000;
}

.suportButton:hover {
    transform: scale(1.05);
}

.suportButton img {
    width: 70%;
}

/* SOBRE NÓS */

.aboutUs {
    height: fit-content;
    width: 100%;
    background-color: #F8F8F8;
    text-align: center;
}

.aboutUs .icones{

    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3vh 0;
}

.tituloAoutUs {

    margin-bottom: 3vh;
}

.aboutUs h1{
    font-size: 48px;
}

.textoAboutUs {
    margin-bottom: 3vh;
}

.aboutUs p{
    font-size: 32px;
    width: 100%;
}

.icon{
    width: 115px;
    height: 115px;
    background-color: #000;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2px 4px;
}

.icon img{
    height: 70%;
}



/* FOTOS */

.fotos {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.containerFoto{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    z-index: 0;

}

.image{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
    background: rgba(36, 36, 36, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    z-index: 0;
  }
  
  .container2:hover .overlay {
    opacity: 1;
    z-index: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
  }

.imgRight{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    z-index: 0;
}


.imgRight .cima {
    width: 100%;
    height: 50%;
    float: left;
    z-index: 0;
}

.baixo {
    width: 100%;
    height: 50%;
    float: left;
    z-index: 0;
}

/* MISSÃO VISÃO VALORES */

.MVV {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1b1b1b;
    color: #FFF;
}

.MVV .card{
    height: 80%;
    width: 270px;
    margin-bottom: 3vh;
    text-align: center;
}

.MVV .icon {
    width: 125px;
    height: 125px;
    background-color: #FF8000;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card .separa {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MVV h1{
    font-size: 32px;
}

.MVV p{
    font-size: 24px;
}

/* FOOTER */

footer {
    width: 100%;
    height: fit-content;
    background-color: #1b1b1b;
    color: #FFF;
}

.separaFooter {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloco {
    width: 250px;
    height: 25vh;
    margin: 3px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.imgBloco {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px){

    nav {
        height: 8vh;
    }

    nav li {
        width: 60px;
        height: 20px;
        border-radius: 4px;
        font-size: 16px;
    }

    nav li:hover {
        letter-spacing: 0;
    }

    header p {
        font-weight: 100;
        font-size: 24px;
        line-height: 30px;
        border-radius: 10px;
        padding: 3px;
    }

    .suportButton {
        width: 50px;
        height: 50px;
        bottom: 20px;
    }

    .icon{
        width: 60px;
        height: 60px;
    }

    .aboutUs h1{
        font-size: 24px;
        margin-bottom: 3vh;
    }
    
    .aboutUs p{
        font-size: 16px;
        text-align: center;
        margin-bottom: 3vh;
    }

    .separaFooter {
        flex-direction: row;
        justify-content: center;
    }

    .MVV .icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    
    .MVV h1{
        font-size: 24px;
    }
    
    .MVV p{
        font-size: 16px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1023px){
    
    nav {
        height: 12vh;
    }

    nav li {
        width: 80px;
        height: 30px;
        border-radius: 6px;
        font-size: 16px;
    }

    header p {
        font-weight: 200;
        font-size: 32px;
        line-height: 40px;
        border-radius: 13px;
    }

    .suportButton {
        width: 70px;
        height: 70px;
        bottom: 40px;
    }

    .icon{
        width: 80px;
        height: 80px;
    }

    .aboutUs h1{
        font-size: 32px;
    }
    
    .aboutUs p{
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
}