.espacoBtn {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.btnContratar {
    background-color: #ff8000;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    padding: 25px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnContratar:hover {
    cursor: pointer;
    background-color: #ff8000;
    color: white;
    box-shadow: 2px 2px 10px #949494;
    transition: 0.5s;
}

.btnContratar:hover:before {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .btnContratar {
        border-radius: 8px;
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
    }  
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .btnContratar {
        border-radius: 8px;
        padding: 20px;
    }  
}

@media screen and (min-width: 1024px){
    
}